[project]
	description = Debit machine firmware for NFC based point-of-sale solution
[access "refs/*"]
	owner = group user/Jefferson Tokurah (jtokuah)
[access "refs/for/refs/*"]
	read = group user/Jefferson Tokurah (jtokuah)
	push = group user/Jefferson Tokurah (jtokuah)
	label-Code-Review = -2..+2 group user/Jefferson Tokurah (jtokuah)
	label-Verified = -1..+1 group user/Jefferson Tokurah (jtokuah)
	rebase = group user/Jefferson Tokurah (jtokuah)
	removeReviewer = group user/Jefferson Tokurah (jtokuah)
	submit = group user/Jefferson Tokurah (jtokuah)
[access "refs/heads/*"]
	read = group user/Jefferson Tokurah (jtokuah)
	create = group user/Jefferson Tokurah (jtokuah)
	push = +force group user/Jefferson Tokurah (jtokuah)
	pushMerge = group user/Jefferson Tokurah (jtokuah)
[access "refs/tags/*"]
	push = +force group user/Jefferson Tokurah (jtokuah)
	pushTag = group user/Jefferson Tokurah (jtokuah)
	pushSignedTag = group user/Jefferson Tokurah (jtokuah)
